$header-height: 10vh;

.vw-vh {
    padding-top: $header-height;
    .header {
        position: fixed;
        width: 100%;
        top: 0;
        height: $header-height;
        background-color: #4859ca;
        line-height: $header-height;
    }
    .content {
        background: linear-gradient(#ada8403b, bisque);
        height: 200vh;
        line-height: 200vh;
    }
}